<app-list
  [db]="db"
  (selectedItem)="selectElem($event)"
  (deletedItem)="deleteElem($event)"
  [selectedItemId]="selectedItemId"
  class="list-container"
></app-list>
<div class="filter-container">
  <h1>Filter points:</h1>
  <input [(ngModel)]="filterValue" placeholder="start typing" />
  <button (click)="filter()">search</button>
  <button (click)="resetFilter()">reset</button>
</div>
<app-map
  [db]="db"
  [map]="map"
  (selectedPoint)="selectElem($event)"
  (deletedPoint)="deleteElem($event)"
  (clickOnMap)="clickOnMap($event)"
  [selectedItemId]="selectedItemId"
  class="list-container"
></app-map>
