<app-list
  [db]="db"
  (selectedItem)="selectElem($event)"
  (deletedItem)="deleteElem($event)"
  [selectedItemId]="selectedItemId"
  class="list-container"
></app-list>
<div class="filter-container">
  <form
    [formGroup]="filterForm"
    (ngSubmit)="filter(filterForm.value)"
    [class.error]="!filterForm.valid && filterForm.touched"
  >
    <div [class.error]="!filterPoint.valid && filterPoint.touched">
      <label for="filterPointInput"><h1>Filter points</h1></label>
      <input
        id="filterPointInput"
        placeholder="start typing"
        [formControl]="filterPoint"
      />
      <div *ngIf="!filterPoint.valid">value is invalid</div>
      <div *ngIf="filterPoint.hasError('required')">
        value is required
      </div>
      <div *ngIf="filterPoint.hasError('invalidFilterPoint')">
        value must begin with <b>'name'</b>
      </div>
    </div>
    <button type="submit">filter points</button>
  </form>
  <button (click)="resetFilter()">reset filter</button>
</div>
<app-map
  [db]="db"
  [map]="map"
  (selectedPoint)="selectElem($event)"
  (deletedPoint)="deleteElem($event)"
  (clickOnMap)="clickOnMap($event)"
  [selectedItemId]="selectedItemId"
  class="list-container"
></app-map>
