/* @import "~leaflet/dist/leaflet.css"; */

.nameSected {
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.list-container {
  width: 200px;
  height: 500px;
}

.map-container {
  width: 500px;
  height: 500px;
}
